<!-- Banner section -->
<div id="banner" class="banner">
    <div class="container" style="text-align:right">
        <div class="row">
            <div class="col l12">
                <h1 class="right-align banner-heading">Robotics Software Engineering {{site.year}}</h1>
            </div>
            <div class="col m7 l7 push-l5 push-m5">
                <p class="banner-subheading right-align">{{ site.venue }}<br>
                    {{ site.dates.meeting }}</p>
                <br />
                {% if site.application-page %}
                {% if page.application %}
                <a href="{{ site.application-page }}" class="btn-large">Apply Now</a>
                {% endif %}
                {% endif %}
                {% if site.registration-page %}
                {% if page.registration %}
                <a href="{{ site.registration-page }}" class="btn-large">Register Now</a>
                {% endif %}
                {% endif %}
                <br />
            </div>
        </div>
        <figcaption class="left-align">{{ site.copyright-image | markdownify }}</figcaption>
    </div>
</div>