<table class="important-dates">
    <caption >Important Dates</caption>

    <!-- <thead>
        <tr>
            <th>{{site.conference_title_short}} {{site.year}}</th>
        </tr>
    </thead> -->
    <tbody>
        <tr>
            <td><strong>Meeting</strong></td>
            <td>{{site.dates.meeting}}</td>
        </tr>
        <tr>
            <td><strong>Application</strong></td>
            <td>{% if site.dates.application.extension %}
                <s>{{site.dates.application.deadline}}</s><br />
                <strong>Extended deadline</strong>: {{site.dates.application.extension}}
                {% else %}
                Deadline: {{site.dates.application.deadline}}
                {% endif %}

                {% if site.application-page %}
                {% if page.applications %}
                <br><a href="{{site.application-page}}" target="_blank" class="btn" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Apply Now</a>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Notification</strong></td>
            <td>{% if site.dates.notification %}
                {{site.dates.notification}}
                {% else %}
                To be announced
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Registration </strong></td>
            <td>{% if site.dates.registration.extension %}
                <s>{{site.dates.registration.deadline}}</s>
                <b>Extended deadline</b>: {{site.dates.registration.extension}}
                {% else %}
                {{site.dates.registration.deadline}}
                {% endif %}

                {% if site.registration-page %}
                {% if page.registration %}
                <br><a href="{{site.registration-page}}" class="btn" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register</a>
                {% endif %}
                {% else %}
                To be announced
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>