<table class="important-dates">
    <caption >Important Dates</caption>

    <!-- <thead>
        <tr>
            <th>{{site.conference_title_short}} {{site.year}}</th>
        </tr>
    </thead> -->
    <tbody>
        <tr>
            <td><strong>Meeting</strong></td>
            <td>{{site.dates.meeting}}</td>
        </tr>
        <tr>
            <td><strong>Application</strong></td>
            <td>{% if site.dates.application.extension %}
                <s>{{site.dates.application.deadline}}</s><br>
                <strong>Extended deadline</strong>: {{site.dates.application.extension}}
                {% else %}
                Deadline: {{site.dates.application.deadline}}
                {% endif %}
                <br>

                {% if site.application-page %}
                {% unless page.applications %}
                <blockquote>
                   <strong><i class="small material-icons">announcement</i> </strong> Applications are now closed. Please <a href="mailto:{{ site.organizer-email }}">send an email</a> to the organizers.
                </blockquote>
                {%- endunless %}
                <br><a href="{{site.application-page}}" target="_blank" class="btn {% unless page.applications %} disabled {% endunless %}" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Apply Now</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Notification</strong></td>
            <td>{% if site.dates.notification %}
                {{site.dates.notification}}
                {% else %}
                To be announced
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Registration </strong></td>
            <td>{% if site.dates.registration.extension %}
                <s>{{site.dates.registration.deadline}}</s>
                <b>Extended deadline</b>: {{site.dates.registration.extension}}
                {% else %}
                <strong>Early Bird registration fee (€260)</strong>: Before {{site.dates.registration.early_bird}}<br>
                <strong>Standard registration fee (€280)</strong>: After {{site.dates.registration.early_bird}}<br>
                <strong>Deadline</strong>: {{site.dates.registration.deadline}}<br>
                {% endif %}

                {% if site.registration-page %}
                {% unless page.registration %}
                <blockquote>
                   <strong><i class="small material-icons">announcement</i> </strong> Applications are now closed. Please <a href="mailto:{{ site.organizer-email }}">send an email</a> to the organizers.
                </blockquote>
                {%- endunless %}
                <br><a href="{{site.registration-page}}" class="btn {% unless page.registration %} disabled {% endunless %}" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register</a>
                {% else %}
                Until September 9th
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
