<!-- Schedule section -->

<!-- Overview -->
<div class="section scrollspy" id="schedule-overview">
  <h3 class="center-align">Overview</h3>
  <div class="divider"></div>

  {% assign days = site.data.program.program_rse26 | group_by:"day" %}
  <div class="row">
    {% for day in days %}
    <div class="col l4">
      <table class="schedule-overview">
        <caption>{{day.name}}</caption>
        {% assign day_sorted = day.items | sort:"start_time" %}
        {% assign groups = day_sorted | group_by:"session" %}
        {% for session in groups %}
        <tbody>
          <tr>
            <th><time>{{session.items[0].start_time}}</time></th>
            <td>
              {{ session.items[0].topic }}
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>
</div>