<!-- Venue section -->
<div class="section scrollspy section-white-section" id="venue">
  <div class="container">
    <div class="row">
      <div class="google-maps">
        <iframe src="{{site.map-embed}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col s12 section-white-body">
        <p>
          RSE'26 will be hosted at the <strong>Institut de Robòtica i Informàtica Industrial (IRI)</strong>, a joint research institute of the Spanish National Research Council (CSIC) and the Universitat Politècnica de Catalunya (UPC), located on the UPC campus in Barcelona, Spain.
        </p>
        <p>
          Sessions will take place in the <strong>Labora lab</strong> at IRI, which comfortably accommodates 30–50 participants. If additional space is required, a function room at the nearby <em>Escola Tècnica Superior d'Enginyeria Industrial de Barcelona</em> (ETSEIB) will be arranged.
        </p>
        <p>
          <strong>Address:</strong><br>
          Institut de Robòtica i Informàtica Industrial (IRI), CSIC-UPC<br>
          C/ Llorens i Artigas, 4-6<br>
          08028 Barcelona, Spain
        </p>
        <p>
          <a href="{{site.directions-link}}" target="_blank">View on Google Maps</a> &mdash;
          <a href="https://www.iri.upc.edu/" target="_blank">IRI website</a>
        </p>
        <p><em>Exact room assignments and building access details will be confirmed closer to the event.</em></p>
      </div>
    </div>
  </div>
</div>
